.productItem {
  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__parent {

    ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }
  }
}